<div class="container">
  <h1 class="text-center">Добавление карты</h1>

  <form action="" class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="">Название карты</label>
      <input type="text" class="form-control" name="map_name" placeholder="Название карты"/>
    </div>

    <div class="form-group">
      <label class="sr-only" for="">Ссылка на карту (появится после сохранения)</label>
      <input type="text" class="form-control long-length" placeholder="Ссылка на карту (появится после сохранения)" disabled/>
    </div>
  </form>
</div>