<div class="container text-center">
  <h1>Мои карты</h1>

  <table class="table table-bordered table-small">
    <tr>
      <th class="text-center">Карта</th>
      <th></th>
    </tr>

    <tr>
      <td><a href="#">Моя карта 1</a></td>

      <td>
        <a href="#" class="btn btn-warning btn-sm">Редактировать</a>
        <a href="#" class="btn btn-danger btn-sm">Удалить</a>
      </td>
    </tr>
  </table>

  <a href="#" class="btn btn-primary">Добавить карту</a>
</div>
